.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.searchInputs {
  display: flex;
  justify-content: space-between;
}

.tasksContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 150px;
  padding: 40px 100px;
}

.search {
  min-width: 320px;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
  min-width: 600px;
}

.titleTxt {
  display: flex;
  justify-content: space-between;
}
