.container {
  display: flex;
  flex-direction: column;
  padding: 40px 100px;
  align-items: center;
  gap: 30px;
}

.board {
  display: flex;
  gap: 30px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  flex: 1 1;
  gap: 20px;
}

.skeleton {
  height: 50px;
}

.skeletonBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 150px;
  padding: 100px 100px;
}
